<div class="container-fluid section-footer">
	<div class="row align-items-center container mx-auto">
		<div class="col-md-4 text-center text-md-left">
			<img alt="logo CaipiratechLAB" src="{{ site.baseurl }}/media/home/cozinhas-comunitarias.svg"
				class="d-none d-md-block logo-pequeno">
		</div>
		<div class="col-md-4 text-center">
			<img alt="logo Silo" src="{{ site.baseurl }}/media/home/logo-consea.png" class="logo-pequeno2">
		</div>
		<div class="col-md-4 text-center text-md-right ">
			<a href="http://silo.org.br" target="_blank">
				<img alt="logo Silo" src="{{ site.baseurl }}/media/home/logo-ias.png" class="logo-pequeno2">
			</a>
		</div>
	</div>
</div>