	<div class="container-fluid section-footer">
		<div class="row align-items-center py-5 py-md-4 container mx-auto">
			<div class="col-md-4 text-center text-md-left">
				<img alt="logo caipiratechlab" src="{{ site.baseurl }}/media/home/logo_principal.png" class="d-none d-md-block logo-pequeno">
			</div>
			<div class="col-md-4 text-center">
				<!-- <img alt="redes" src="img/logo2_bottom_pagina.png">	 -->
				<div class="row align-items-center">
					<div class="col-md-12 text-center">					
						<a class="footer-item px-2" href="https://www.instagram.com/silo.arte.e.latitude.rural" target="_blank">
						  <i class="fa fa-instagram fa-1_5x" aria-hidden="true"></i>
						</a>	
						<a class="footer-item px-2" href="https://www.facebook.com/silo.arte.latitude.rural" target="_blank">
						  <i class="fa fa-facebook fa-1_5x" aria-hidden="true"></i>
						</a>
						<a class="footer-item px-2" href="https://twitter.com/SiloLatitude" target="_blank">
						  <i class="fa fa-twitter fa-1_5x" aria-hidden="true"></i>
						</a>
						<a class="footer-item px-2" href="#" target="_blank">
						  <i class="fa fa-youtube-play fa-1_5x" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-12 text-center">
						<p class="text-center">
							<a class="footer-item" href="mailto:contato@silo.org.br" target="_blank">
						  contato@silo.org.br
						</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center text-md-right ">
				<a href="http://silo.org.br" target="_blank">
					<img alt="logo Silo" src="{{ site.baseurl }}/media/home/logo3_bottom_pagina.png" class="logo-pequeno2">
				</a>
			</div>
		</div>
		
		
	</div>