{% assign home_url = site.baseurl %}


	<div class="header py-0 section-header">
		<div class="container">
			<div class="row">
				<!-- <div class="col-6"> -->
					
				<!-- </div> -->
				<div class="col-12 text-right">
					<!-- <img alt="redes" src="img/redes_topo.png" class="redestopo"> -->
					<div class="menu-section">  
						{% include social-icons.html %}
						<a class="menu-item" href="http://silo.org.br" target="_blank">
						  <img alt="Logotipo Silo" src="{{ site.baseurl }}/media/home/logo_barra_4.png" aria-hidden="true" class="logomenu">
						</a>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</div>
	<nav class="navbar navbar-expand-md sticky-top">
		<div class="container">
			<a class="navbar-brand mr-md-5" href="{{ site.baseurl }}/">
				<img alt="logo CaipiratechLAB" src="{{ site.baseurl }}/media/home/logo_principal.png" height="70px">
			</a>
			<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
				<i title="" class="fa fa-bars"></i>
			</button>
			{% include menu-items.html %}
		</div>

    </nav>