{% assign home_url = site.baseurl %}


	<div class="header py-0 section-header">
		<div class="container">
			<div class="row">
				<!-- <div class="col-6"> -->
					
				<!-- </div> -->
				<div class="col-12 text-right">
					<!-- <img alt="redes" src="img/redes_topo.png" class="redestopo"> -->
					<div class="menu-section">  
						<a class="menu-item" href="https://www.instagram.com/silo.arte.e.latitude.rural" target="_blank">
						  <i class="fa fa-instagram fa-1_5x" aria-hidden="true"></i>
						</a>	
						<a class="menu-item" href="https://www.facebook.com/silo.arte.latitude.rural" target="_blank">
						  <i class="fa fa-facebook fa-1_5x" aria-hidden="true"></i>
						</a>
						<a class="menu-item" href="https://twitter.com/SiloLatitude" target="_blank">
						  <i class="fa fa-twitter fa-1_5x" aria-hidden="true"></i>
						</a>
						<a class="menu-item" href="https://www.youtube.com/channel/UCwB5vE50QX2eCVv-i795y6Q/" target="_blank">
						  <i class="fa fa-youtube-play fa-1_5x" aria-hidden="true"></i>
						</a>
						<a class="menu-item" href="https://www.flickr.com/photos/silolatitude" target="_blank">
						  <i class="fa fa-flickr fa-1_5x" aria-hidden="true"></i>
						</a>
						<a class="menu-item" href="https://github.com/associacaosilo" target="_blank">
						  <i class="fa fa-github fa-1_5x" aria-hidden="true"></i>
						</a>
						<a class="menu-item" href="mailto:contato@silo.org.br" target="_blank">
						  <i class="fa fa-envelope-o fa-1_5x" aria-hidden="true"></i>
						</a>
						<a class="menu-item" href="http://silo.org.br" target="_blank">
						  <img alt="Logotipo Silo" src="{{ site.baseurl }}/media/home/logo_barra_4.png" aria-hidden="true" class="logomenu">
						</a>
					

					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</div>
	<nav class="navbar navbar-expand-md sticky-top mx-auto">
		<div class="mx-auto row justify-content-center">
			<a class="navbar-brand mr-md-5" href="{{ site.baseurl }}/">
				<img alt="logo CaipiratechLAB" src="{{ site.baseurl }}/media/home/logo_principal.png" height="70px">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
				<i title="" class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav flex-md-row mx-auto flex-column ml-md-5">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Mapeamento</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="{{ site.baseurl }}/cartografia">Cartografia</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ site.baseurl }}/redes">Redes</a>
						</div>
					</li>
					<li class="nav-item d-none d-md-block">
						<p class="nav-link separador">|</p>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/cursos">Cursos</a>
					</li>
					<li class="nav-item d-none d-md-block">
						<p class="nav-link separador">|</p>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Loja Online</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<p class="dropdown-item">Em breve [x]</p>
						</div>
					</li>
					<!-- <li class="nav-item"> -->
						<!-- <a class="nav-link" href="#">Loja Online</a> -->
					<!-- </li> -->
					<li class="nav-item d-none d-md-block">
						<p class="nav-link separador">|</p>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/boletins">Boletins</a>
					</li>
					<!--<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li> -->
				</ul>

			</div>	
			
		</div>

    </nav>