{% assign home_url = site.baseurl %}

<nav class="navbar navbar-expand-md sticky-top">
	<div class="container">
		<a class="navbar-brand mr-md-5" href="{{ site.baseurl }}/">
			<img alt="logo CaipiratechLAB" src="{{ site.baseurl }}/media/home/cozinhas-comunitarias.svg" height="70px">
		</a>
		<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<!-- <span class="navbar-toggler-icon"></span> -->
			<i title="" class="fa fa-bars"></i>
		</button>
		{% include menu-items.html %}
	</div>

</nav>