<div class="collapse navbar-collapse text-center" id="navbarCollapse">
	<ul class="navbar-nav flex-md-row mx-auto flex-column ml-md-5">
		<!-- <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Mapeamento</a>
			<div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="{{ site.baseurl }}/cartografia">Cartografia</a>
			  <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{ site.baseurl }}/redes">Redes</a>
			</div>
		</li>
		<li class="nav-item d-none d-md-block">
			<p class="nav-link separador">|</p>
		</li> -->
		<li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/lojaonline">Mapa das cozinhas</a>
		</li>
		<li class="nav-item d-none d-md-block">
			<p class="nav-link separador">|</p>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/quero-me-cadastrar">Cadastre sua cozinha</a>
		</li>
		<!--<li class="nav-item">
			<a class="nav-link disabled" href="#">Disabled</a>
		</li> -->
	</ul>
</div>	