<div class="collapse navbar-collapse text-center" id="navbarCollapse">
	<ul class="navbar-nav flex-md-row mx-auto flex-column ml-md-5">
		<!-- <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Mapeamento</a>
			<div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="{{ site.baseurl }}/cartografia">Cartografia</a>
			  <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{ site.baseurl }}/redes">Redes</a>
			</div>
		</li>
		<li class="nav-item d-none d-md-block">
			<p class="nav-link separador">|</p>
		</li> -->
		<li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/cursos">Cursos</a>
		</li>
		<li class="nav-item d-none d-md-block">
			<p class="nav-link separador">|</p>
		</li>
		<!-- <li class="nav-item dropdown"> -->
			<!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Loja Online</a> -->
			<!-- <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink"> -->
				<!-- <p class="dropdown-item">Em breve [x]</p> -->
			<!-- </div> -->
		<!-- </li> -->
		<li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/lojaonline">Loja Online</a>
		</li>
		<li class="nav-item d-none d-md-block">
			<p class="nav-link separador">|</p>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/boletins">Boletins</a>
		</li>
		<li class="nav-item d-none d-md-block">
			<p class="nav-link separador">|</p>
		</li>
		</li>
		  <li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/informacoes">Informações</a>
		</li>
		<li class="nav-item d-none d-md-block">
			<p class="nav-link separador">|</p>
		</li>
		</li>
		  <li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/calendario">Calendário</a>
		</li>
		  <li class="nav-item d-none d-md-block">
			<p class="nav-link separador">|</p>
		</li>
		</li>
		  <li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/sobre">Sobre</a>
		</li>
		<!--<li class="nav-item">
			<a class="nav-link disabled" href="#">Disabled</a>
		</li> -->
	</ul>
</div>	