---
---

@import "main";

$fontColor: #f4d6a2;
$fontColorMenu: #2A4D3C; /*mesma cor da Section2*/
$bgSocialbar: #88A396; /*usada tb no bg do menu dropdown*/
$bgMenu: #608573;
$bgSection1: #386650;
$bgSection2: #2A4D3C;
$bgSection3: #F24F15;
$bgSection4: #F57244;
$bgSection5: #A03804;
$bgSection6: #ff4646;
$bgSection7: #FF6B6B;   /*usada nas sections pares da página Boletins*/
$bgFooter: #782A03;
$bgButton: #B63B10;
$bgMap: #edbe7a;
/*$bgGallery: #fddbba;*/


@font-face {
     font-family: BreeSerifLight;
     src: url('fonts/BreeSerif-Light.otf');
}

@font-face {
     font-family: BreeSerifSemiBold;
     src: url('fonts/BreeSerif-SemiBold.otf');
}

body {
	font-weight: normal;
  color: $fontColor;
  min-height: 100vh;
  background: $bgFooter;
}

a {
  color: $fontColor;
}

a:hover {
  color: $fontColor;
  /* font-weight: bold; */
}

a.menu-item {
    color: $fontColor;
}

a.menu-item:hover {
    text-decoration: none;
	color: $fontColorMenu;
}

img.logomenu {
    max-height: 20px;
}
img.logomenu:hover {
    background-color: $fontColorMenu;
}

.navbar {
    background-color: $bgMenu;
}

.nav-link {
    padding: 0rem 1rem;
}

a.nav-link {
	font-family: BreeSerifSemiBold;
    color: $fontColorMenu;
	/* font-weight: bold; */
}

a:hover.nav-link {
    color: $fontColor;
	/* font-weight: bold; */
}

.dropdown-item {
    font-family: BreeSerifSemiBold;
    color: $fontColorMenu;
	background-color: $bgSocialbar;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: $fontColor;
    background-color: $fontColorMenu;
}

.dropdown-divider {
    margin: 0;
	border-top: 1px solid $fontColorMenu;
}

.dropdown-menu {
    padding: 0;
	border: 0;
	min-width: 0;
  border-radius: 0;
}

/* a.navbar-brand { */
	/* color: #F4D6A2; */
	/* font-weight: bold; */
	/* padding-left: 250px; */
/* } */

/* .container-fluid { */
	/* padding-top: 72px; */
/* } */

p.dropdown-item {
	margin-bottom: 0;
}

p.nav-link.separador {
    padding-right: 0 !important;
    padding-left: 0 !important;
	margin-bottom: 0;
	color: $fontColorMenu;
	/* font-weight: bold; */
}

button.navbar-toggler {
    color: $fontColor;
}

.section-header {
	background-color: $bgSocialbar;
  z-index: 1019;
}

.cabecalho {
    min-height: 35vh;
}

.cabecalho-redes {
    min-height: 20vh;
}

.section1 {
	background-color: $bgSection1;
}

.section2 {
	background-color: $bgSection2;
}

.section3 {
	background-color: $bgSection3;
}

.section4 {
	background-color: $bgSection4;
}

.section5 {
	background-color: $bgSection5;
}

.section6 {
	background-color: $bgSection6;
}

.section7 {
	background-color: $bgSection7;
}

.section-footer {
	background-color: $bgFooter;
}

a.footer-item {
    color: $fontColor;
}

a.footer-item:hover {
    text-decoration: none;
}


.container-fluid h5,h4,h3,h2,h1 {
	color: $fontColor;
	font-family: BreeSerifSemiBold;
	font-weight: normal;
}

.container-fluid p,h6 {
	color: $fontColor;
	font-family: BreeSerifLight;
	font-weight: normal;
}

.h6, h6 {
    font-size: 1.3rem;
}

.img-capa {
    width: 60%;
}

.img-logosilo {
    width: 40%;
}

.img-cenoura {
    max-width: 180%;
	margin-left: -80%;
	margin-top: -20%;
    margin-bottom: -20%;
}

.img-fruta-section4 {
    max-width: 100%;
	margin-top: -25%;
}

.img-100 {
    max-width: 100%;
}

/* #section-footer img { */
    /* max-width: 35%; */
/* } */


/* #img-mapa { */
    /* width: 80%; */
/* } */

.img-vegetal {
	max-width: 80%;
	margin-top: -25%;
	margin-bottom: -10%;
}

.img-forum {
  max-width: 75%;
  margin-bottom: -55%;
}

.img-cursos {
  max-width: 75%;
  margin-bottom: -30%;
}

.logo-pequeno {
	max-width: 40%;
}

.logo-pequeno2 {
    max-width: 20%;
}

.section2 p {
    margin-top: 1rem;
}

.titulo250 {
	width: 250px;
}

.btn-caipira {
	color: $fontColor;
    background-color: $bgButton;
    border-color: $bgButton;
	border-radius: 40px;
	font-family: BreeSerifSemiBold;
	padding: 0.5rem 1.2rem
}

.btn-caipira:hover {
    color: $fontColor;
    background-color: $bgButton;
    border-color: $bgButton;
}

.redestopo {
	height: 20px;
}

.fundo-mapa {
	border-radius: 10px;
	background-color: $bgMap;
}

.navbar-collapse {
    flex-grow: 0;
}

a.swipebox img {
    width: 100%;
}

a.swipebox img:hover {
    transform: scale(1.025);
}

.iframe-layout{
	width: 100%;
    height: 100%;
}

.iframe-mapa{
	z-index: 0;
	top: 120px;
	border: 0;
	height: calc(100% - 120px);
	position: absolute;
	width: 100%;
}

li a:hover {
    color: $fontColor;
}

li a {
    color: $fontColor;
}

li {
    font-family: BreeSerifLight;
    font-weight: normal;
}

summary {
    color: $fontColor;
    font-family: BreeSerifLight;
    font-weight: normal;
    font-size: 1.3rem;
}

.bg-gallery{
	/* background-color: #E2845A; */
	background-color: $bgSection2;
}

.filtro-estados p, .filtro-estados a, .filtro-estados a:hover{
	color: $fontColor;
	font-family: BreeSerifSemiBold;
	
}


// audio tag player

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    background-color: $fontColor;
}

audio{
    background-color: $fontColor;
    opacity: 1;
    width: 80% !important;
    height: 50px !important;
}

div.mapboxgl-popup-content a{
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}