<!doctype html>
<html lang="pt-br">
  <head>
    {% include head.html %}
  </head>
  <body>

	{% include menu.html %}


	<div class="container-fluid">
		<div class="row align-items-center section1 py-3">
			<div class="col-12 mx-auto text-center">
				{{ content }}
			</div>
		</div>
		
		
		<div class="row align-items-center section2 py-3 py-md-5 px-1 px-md-5">
			<div class="col-12 col-md-9 mx-auto">
				<h2>{{ page.titulo1 }}</h2>
				<ul>
				{% for item in page.modulo1 %}
					<!-- <details open> -->
					<details>
						<!-- <summary class="mt-2"> -->
						<summary>						
							{{ item.aula }}
						</summary>
						<p class="m-0 mb-2">{{ item.prof }}</p>
						
						<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{ item.player }}"></iframe>
						<ul>
						{% for pdf in item.link %}
							<li><a href="{{ pdf }}">{{ pdf }}</a></li>	
						{% endfor %}
						</ul>		
						<br />
					</details>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row align-items-center section3 py-3 py-md-5 px-1 px-md-5">
			<div class="col-12 col-md-9 mx-auto">
				<h2>{{ page.titulo2 }}</h2>
				<ul>
				{% for item in page.modulo2 %}
					<details>
						<summary>
							{{ item.aula }}
						</summary>
						<p>{{ item.prof }}</p>
						<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{ item.player }}"></iframe>
						<ul>
						{% for pdf in item.link %}
							<li><a href="{{ pdf }}">{{ pdf }}</a></li>	
						{% endfor %}
						</ul>		
						<br />
					</details>
				{% endfor %}
				</ul>
			</div>	
		</div>
		<div class="row align-items-center section4 py-3 py-md-5 px-1 px-md-5">
			<div class="col-12 col-md-9 mx-auto">
				<h2>{{ page.titulo3 }}</h2>
				<ul>
				{% for item in page.modulo3 %}
					<details>
						<summary>
							{{ item.aula }}
						</summary>
						<p>{{ item.prof }}</p>
						<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{ item.player }}"></iframe>
						<ul>
						{% for pdf in item.link %}
							<li><a href="{{ pdf }}">{{ pdf }}</a></li>	
						{% endfor %}
						</ul>		
						<br />
					</details>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row align-items-center section5 py-3 py-md-5 px-1 px-md-5">
			<div class="col-12 col-md-9 mx-auto">
				<h2>{{ page.titulo4 }}</h2>
				<ul>
				{% for item in page.modulo4 %}
					<details>
						<summary>
							{{ item.aula }}
						</summary>
						<p>{{ item.prof }}</p>
						<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{ item.player }}"></iframe>
						<ul>
						{% for pdf in item.link %}
							<li><a href="{{ pdf }}">{{ pdf }}</a></li>	
						{% endfor %}
						</ul>		
						<br />
				{% endfor %}
				</ul>
			</div>
		</div>
		
	</div>
	{% include footer.html %}
	
  </body>
</html>
