<!doctype html>
<html lang="pt-br">
  <head>
    {% include head.html %}
  </head>
  <body>

	{% include menu.html %}

  {% capture classpar %}section{{ page.bgpar }}{% endcapture %}
  {% capture classimpar %}section{{ page.bgimpar }}{% endcapture %}
  {% capture classheader %}section{{ page.bgheader }}{% endcapture %}
  
	<div class="container-fluid">
		<div class="row align-items-center {{ classheader }} cabecalho py-2">
      <div class="row align-items-center py-4 container mx-auto">
        <div class="col-12 col-md-6 ml-auto text-left">
          {{ content }}
        </div>
        <div class="col-6 mr-auto text-center d-none d-md-block ">
          <img alt="Frutos" src="/media/home/Ilustracao_{{ page.imgheader }}.png" class="w-75 img-forum">
        </div>
      </div>
		</div>
    
		
		{% for item in page.forum %}
		<div class="row {% cycle 'parouimpar': classimpar, classpar %} py-5 px-1 px-md-5">
      <div class="py-0 py-md-5 container mx-auto">
      <!-- py a mais para compensar que só tem 1 item no fórum -->
        <div class="col-12">          
          <!-- <ul> -->

            <h3>{{ item.titulo }}</h3>
            {% if item.descricao %}
              <p>{{ item.descricao }}</p>
            {% endif %}						
            <ul>
            {% for cadaarquivo in item.arquivos %}
              {% if cadaarquivo.titulo %}
                {% assign arquivo-titulo = cadaarquivo.titulo %}
              {% else %}
                {% assign arquivo-titulo = cadaarquivo.arquivo %}
              {% endif %}
              <li><a href="{{ site.baseurl }}/media/docs/{{ cadaarquivo.arquivo }}">{{ arquivo-titulo }}</a></li>	
            {% endfor %}
            </ul>		
            <br />
          
          <!-- </ul> -->
        </div>	
      </div>
		</div>
		{% endfor %}
	</div>
	{% include footer.html %}


  </body>
</html>
