<!doctype html>
<html lang="pt-br">
  <head>
    {% include head.html %}
  </head>
  <body>

	{% include menu.html %}

	
	<div class="container-fluid bg-claro">
	  <div class="row align-items-center section1 py-3">
		<div class="col-12 mx-auto text-center">
		  {{ content }}
		</div>
	  </div>
	  <div class="row align-items-center pt-4">
		<div class="col-12 mx-auto text-center filtro-estados">
		  <p class="mb-0"> <a href="{{ site.baseurl }}/redes">TODOS</a>
		   |
		  <a href="{{ site.baseurl }}/redes_rj">RJ</a>
		   | 
		  <a href="{{ site.baseurl }}/redes_mg">MG</a>
		   | 
		  <a href="{{ site.baseurl }}/redes_sp">SP</a></p>
		</div>
	  </div>
		{% if page.swipebox %}
		  {% assign prefixo = page.swipebox | append: '_' | append: page.estado %}

          {% include swipebox.html prefix=prefixo %}
        {% endif %}		
	</div>
	{% include footer.html %}


  </body>
</html>
