<!doctype html>
<html lang="pt-br">
  <head>
    {% include head.html %}
  </head>
  <body>

	{% include menu.html %}
  
  {% capture classheader %}section{{ page.bgheader }}{% endcapture %}
	
	<div class="container-fluid bg-gallery">
	  <div class="row align-items-center {{ classheader }} cabecalho py-3">
		<div class="col-12 mx-auto text-center">
		  {{ content }}
		</div>
	  </div>
	  <div class="row align-items-center pt-4">
		<div class="col-12 mx-auto text-center filtro-estados">
		  <p class="mb-0"> <a href="{{ site.baseurl }}/redes">TODAS REGIÕES</a>
		   <br><br>
		  <a href="{{ site.baseurl }}/redes_ma">Serra da Mantiqueira</a>
		  <br>
		  <a href="{{ site.baseurl }}/redes_sm">Serra do Mar</a>
		   <br> 
		  <a href="{{ site.baseurl }}/redes_vp">Vale do Rio Paraíba do Sul</a>
		  <br> 
		  <a href="{{ site.baseurl }}/redes_bo">Serra da Bocaina</a></p>
		</div>
	  </div>
		{% if page.swipebox %}
		  {% assign prefixo = page.swipebox | append: '_' | append: page.estado %}

          {% include swipebox.html prefix=prefixo %}
        {% endif %}		
	</div>
	{% include footer.html %}


  </body>
</html>
