<!doctype html>
<html lang="pt-br">
  <head>
    {% include head.html %}
  </head>
  <body>

	{% include menu.html %}


	<div class="container-fluid">
		<div class="row align-items-center section1 py-3 py-md-5">
			<div class="col-md-6 mx-auto text-center text-md-right">
				<img alt="Frutos" src="{{ site.baseurl }}/media/home/Ilustracao_1.png" class="img-capa">
			</div>
			<div class="col-md-6 mx-auto text-center text-md-left py-3 py-md-0">
				<h1 class="my-0">{{ page.section1.titulo1 }}</h1>
				<h1 class="my-0">{{ page.section1.titulo2 }}</h1>
				<h1 class="my-0">{{ page.section1.titulo3 }}</h1>
				<h1 class="my-0">{{ page.section1.titulo4 }}</h1>
			</div>
		</div>
		<div class="row align-items-center py-3 py-md-4 section2">
			<!-- <div class="col-md-6 py-3 py-md-0"> -->
      <div class="col-md-6 pt-3 py-md-0"">
				<h3 class="text-center"><a href="{{ site.baseurl }}/sobre">{{ page.section2.titulo }}</a></h3>

			</div>
			<div class="col-md-6">
				<div class="row align-items-center">
					<div class="col-md-8 text-center text-md-left">
						<p class="paragrafo">
							<small>
                {{ page.section2.texto }}
              </small>
						</p>
					</div>
					<div class="col-md-4 text-center text-md-left">
						<a href="https://silo.org.br/" target="_blank"><img alt="Logotipo Silo" src="{{ site.baseurl }}/media/home/logo_barra_4.png" class="img-logosilo"> </a>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center section3 pt-3 pb-4 py-md-0">
			<div class="col-md-6">
				<!-- <div class="mx-auto"> -->
					<!-- <h1 class="text-left"> -->
						<!-- ajude a -->
					<!-- </h1> -->
					<!-- <h1 class="text-left"> -->
						<!-- viabilizar -->
					<!-- </h1> -->
					<!-- <h1 class="text-left"> -->
						<!-- a produção -->
					<!-- </h1> -->
					<!-- <h1 class="text-left"> -->
						<!-- local -->
					<!-- </h1> -->
				<!-- </div> -->
				<div class="mx-auto titulo250 text-center text-md-left py-3 py-md-0">
					<h1>{{ page.section3.titulo }}</h1>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row align-items-center">
					<div class="col-md-8 text-center text-md-left">
						<h6 class="titulo250 mx-auto mx-md-0 pt-4">{{ page.section3.texto1 }}</h6>
						<h6 class="py-4">{{ page.section3.texto2 }}</h6>
						<a class="btn btn-sm btn-caipira" href="{{ site.baseurl }}/lojaonline" role="button">{{ page.section3.botao }}</a>
						<!-- <button type="button" class="btn btn-sm btn-caipira"> -->
							<!-- comecar agora! -->
						<!-- </button> -->
						
					</div>
					<div class="col-md-4">
						<img alt="Cenoura" src="{{ site.baseurl }}/media/home/Ilustracao_2.png" class="d-none d-md-block img-cenoura">
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center section4 py-5">
			<div class="col-md-12">
				<div class="row align-items-center">
					<div class="col-md-9 mx-auto text-center">
						<!-- <h5 class="text-center pb-5 pb-md-3">{{ page.section4.titulo }}</h5> -->
            <h5 class="text-center pb-3">{{ page.section4.titulo }}</h5>
						<!-- <img alt="Mapa" src="img/mapa-placeholder.jpeg" id="img-mapa"> -->
						<div class="embed-responsive embed-responsive-16by9 fundo-mapa">
							<iframe class="embed-responsive-item" src="{{ site.baseurl }}/lojaonline_embed/"></iframe>
						</div>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-2">
						<img alt="fruta" src="{{ site.baseurl }}/media/home/Ilustracao_3.png" class="d-none d-md-block img-fruta-section4">
					</div>
					<div class="col-md-8 text-center">
						<p class="text-center">{{ page.section4.texto }}</p>
						<a class="btn btn-md btn-caipira" href="{{ site.baseurl }}/quero-me-cadastrar" role="button">{{ page.section4.botao }}</a>
						<!-- <button type="button" class="btn btn-caipira btn-md"> -->
							<!-- quero me cadastrar! -->
						<!-- </button> -->
					</div>
					<div class="col-md-2">
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center py-4 pb-md-3 pt-md-0 section5">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
					</div>
					<div class="col-md-6 text-right py-5 py-md-0">
						<!-- <img alt="vegetal" src="img/Ilustracao_4.png" class="img-vegetal d-none d-md-block"> -->
						<img alt="vegetal" src="{{ site.baseurl }}/media/home/Ilustracao_4.png" class="img-vegetal">
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-3">
						<img alt="cumbuca" src="{{ site.baseurl }}/media/home/Ilustracao_5.png" class="img-100 d-none d-md-block">
					</div>
					<div class="col-md-6 text-center text-md-left">
						<h3 class="my-0">{{ page.section5.titulo1 }}</h3>
						<h3 class="my-0">{{ page.section5.titulo2 }}</h3>
						<br /><br /><br />
            
            <h5>{{ page.section5.cursos.titulo }}</h5>
            
            <!-- <details open> -->
            <details>
              <!-- <summary class="mt-2"> -->
              <summary>						
                {{ page.section5.cursos.modulos.aula }}
              </summary>
              <p class="m-0 mb-2">{{ page.section5.cursos.modulos.prof }}</p>
            </details> <br />
						<!-- <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1150027444&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=true&visual=true"></iframe> -->
            <audio controls>
              <source src="https://ia801401.us.archive.org/8/items/caipiratechlab-modulo-1/m1a1.mp3" type="audio/mpeg">
            </audio> 
						<br /><br />
						<a class="btn btn-md btn-caipira" href="{{ site.baseurl }}/cursos" role="button">{{ page.section5.botao }}</a>
						<!-- <button type="button" class="btn btn-caipira btn-md"> -->
							<!-- inscreva-se! -->
						<!-- </button> -->
						<br /><br />
					</div>
					<div class="col-6 col-md-3 mx-auto text-center pt-3">
						<img alt="cogumelos" src="{{ site.baseurl }}/media/home/Ilustracao_6.png" class="img-100">
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}

  </body>
</html>
