<!doctype html>
<html lang="pt-br">
  <head>
    {% include head.html %}
  </head>
  <body>

	{% include menu.html %}


	<div class="container-fluid">
		<div class="row align-items-center section1 cabecalho py-3 py-md-5">
			<div class="col-md-6 mx-auto text-center text-md-left">
				<h1 style="text-align: center;">{{ page.title }}</h1>
			</div>
		</div>		
		<div class="row section2 py-5 px-1 px-md-5">
      <div class="py-0 py-md-5 container mx-auto">
      <!-- py a mais para compensar que só tem 1 item no fórum -->
        <div class="col-12">          
          <!-- <ul> -->
          {% for item in page.forum %}
            <h3>{{ item.titulo }}</h3>
            {% if item.descricao %}
              <p>{{ item.descricao }}</p>
            {% endif %}						
            <ul>
            {% for pdf in item.pdfs %}
              {% if pdf.titulo %}
                {% assign pdf-titulo = pdf.titulo %}
              {% else %}
                {% assign pdf-titulo = pdf.arquivo %}
              {% endif %}
              <li><a href="{{ site.baseurl }}/media/docs/{{ pdf.arquivo }}">{{ pdf-titulo }}</a></li>	
            {% endfor %}
            </ul>		
            <br />
          {% endfor %}
          <!-- </ul> -->
        </div>	
      </div>
		</div>
		
	</div>
	{% include footer.html %}


  </body>
</html>
